/* * {
	border: 1px red dashed;
} */

#box {
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.pad-short {
	padding: 50px 30px 20px 10px;
}

#border {
	border: 5px dashed blueviolet;
}

.mix-borders {
	border-style: dotted dashed solid double;
	border-radius: 20px;
}

#last-div {
	border: 1px dashed red;
	margin-top: 20px;
}

#margin-short {
	border: 1px dashed blue;
	margin: 20px;
}
