.color-example {
  color: rgb(12, 241, 12);
  background-color: rgb(65, 94, 65);
}

.background-example {
  background-color: red;
}
/* Background Images Positioning and Repeating */
.background-position-example {
	background-image: url("./Image20240124191929.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}

/* OPacity and transaparency */

.opacity-example {
  background-color: rgba(255, 245,0, 0.3);
}