:root {
  --fontPrimary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: var(--fontPrimary);
  background-color: darkkhaki;
}

#title {
  font-size: 2.2rem;
  padding-top: 0.8rem;
  margin-left: 2rem;
  color: aliceblue;
  font-family:var(--fontPrimary)
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  background-color: rgb(61, 82, 24);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid rgb(243, 236, 236);
}

.navmenus {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: row;
  padding-top: 1rem;
  font-size: 1.5rem;
  list-style: none;
  margin-right: 2.5rem;
  position: relative;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.navmenu:hover {
  border-bottom: 2px solid white;
}

.subheading {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}

#self-photo {
  width: 500px;
}

.bx {
  margin: 1em auto;
  padding: 1em 2em;
  border: solid 1px #808080;
  font-size: 18px;
  max-width: 600px;
  bottom: 50px;
}
.handDrawn {
  background-color: rgba(240, 230, 165, 0.6);
  border-radius: 255px 15px 225px 15px / 12px 225px 15px 225px;
  font-family: 'Indie Flower', cursive;
  line-height: 1;
  box-shadow: 4px 4px 12px 0 rgba(80, 80, 80, 0.5);
}

.center {
  text-align: center;
}

figcaption {
  font-size: 0.7em;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1300px;
}

#section1 {
  background-image: conic-gradient(burlywood, white);
  height: 100vh;
  display: flex !important;
  flex-direction: column !important;
}

#section2 {
  background-color: cadetblue;
  height: 100vh;
}

#section3 {
  background-color: burlywood;
  height: 100vh;
}

#section4 {
  background-color:rgb(115, 63, 141);
  height: 100vh;
}

.section-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.p-container {
    width: 600px;
    background-color: rgb(97, 66, 66);
    margin-top: 1rem;
}

.section-p {
  color:rgb(243, 236, 236);
  font-size: 1.5rem;
  padding: 1rem;
}

